
/*This is the css for the first week of homework. points to myprofile.html*/
/*Author: Kourtney.Reynolds@gmail.com*/

/* \\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\ */
/* Float Container */
/* \\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\ */

.clearfix::after{
    content: "";
    clear: both;
    display: block;

}

/* \\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\ */
/* Generic classes (body, a, p, h1, etc.) */
/* \\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\ */



h1 h2 h3 {
    background-color: thistle;
}

li {
    list-style: none;
    display:inline-block;

}

p {
    background-color: gold;
    display: inline;
}

/* \\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\ */
/* #header */
/* \\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\ */

.main-nav {
    background-color: aqua;
    text-align: left;   
}

/* \\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\ */
/* #nav-menu */
/* \\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\ */

.main-nav .name {
    background-color:#4aaaa5;
    color:white;
    padding: 20px;
    float:left;
    
}

.navlinks {
    float:right;
    background-color: black; 
}

/* \\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\ */
/* #main-content */
/* \\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\ */

.container {
    background-color: purple;
    margin:auto;
    overflow: auto;
    width: 960px;

    
}

.resize {
    max-width: 25%;
    max-height: 25%;
    float:left;
}

section {
    /* display:inline-block; */
    background-color:grey;
    float:left;
    overflow:hidden;
    width:650px;

}

article {
    margin:auto;
    width:650px;
}

aside {
    background-color: green;
    display:inline-block;
    overflow: hidden;
    width: 270px;

}

#iconbox {
    float:center;
    margin:auto;
}


.wdicon {

    width: 75px;
    height:75px;
    margin: auto;
}

/* \\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\ */
/* #Footer */
/* \\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\ */





