/*This is the css for the first week of homework. points to myprofile.html*/
/*Author: Kourtney.Reynolds@gmail.com*/

h1{
    margin:0px ;
}

li {
    list-style: none;
    display:inline-block;

}
.clearfix::after{
    content: "";
    clear: both;
    display: block;

}

.main-nav {
    background-color: aqua;
    /* overflow: auto; */
    text-align: left;   
}
.main-nav .name{
    background-color:#4aaaa5;
    color:white;
    padding: 20px;
    float:left;
}

.nav{
    float:right;   

}

#frame {
    width:960px;
}





